<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hermanwpt.alfred.currency</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0C191BA0-C800-4E2B-AE27-BCB03FFCE1ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE332B0E-A580-4347-89E0-10F6B2AC947D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D5F2D38-096E-409B-86CD-236AF579B3DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>456B077E-0366-402D-BF9E-73231B08395D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DD4E5F4-32BF-4AAF-9A94-6F36C17741AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93DD4D34-77C0-46BA-880F-37335C6E03DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>456B077E-0366-402D-BF9E-73231B08395D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80360855-84C9-465E-9418-03E77DEF7E48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C473A25-C2C1-4773-B977-5A46C3270E39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E17B99E-5E1F-4FEB-B342-A012AAB09E65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A9F4383-23B3-4C77-94EE-8463325DBC1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEC33078-8B48-4D99-B50D-481B769F666B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93DD4D34-77C0-46BA-880F-37335C6E03DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3290909B-98BF-4E64-96DC-C92CD0602779</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEC33078-8B48-4D99-B50D-481B769F666B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C191BA0-C800-4E2B-AE27-BCB03FFCE1ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B701CF96-A86A-47D1-BB1B-E85DD09194B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC3D45DA-4DB5-46A7-89C7-880133531627</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E09DA531-7669-474B-8B21-B21856E6205B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B701CF96-A86A-47D1-BB1B-E85DD09194B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFD4B1A5-0FBB-4999-AAC9-B28B2CBD57CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A9F4383-23B3-4C77-94EE-8463325DBC1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4C473A25-C2C1-4773-B977-5A46C3270E39</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Remove this currency</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Herman Wong</string>
	<key>description</key>
	<string>Currency Converter for Forex</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Currency Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:split2}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0C191BA0-C800-4E2B-AE27-BCB03FFCE1ED</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python3 ./copy_to_clipboard.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A9F4383-23B3-4C77-94EE-8463325DBC1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:split1}{var:split2} is copied to clipboard!</string>
				<key>title</key>
				<string>Currency Converter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DE332B0E-A580-4347-89E0-10F6B2AC947D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cur</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching currency data...</string>
				<key>script</key>
				<string>python3 ./currency_rates.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Display currency exchange rate</string>
				<key>title</key>
				<string>Convert currency</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FFD4B1A5-0FBB-4999-AAC9-B28B2CBD57CC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>AEC33078-8B48-4D99-B50D-481B769F666B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Currency Converter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6E17B99E-5E1F-4FEB-B342-A012AAB09E65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python3 ./remove_currency.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4C473A25-C2C1-4773-B977-5A46C3270E39</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python3 ./add_currency.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>93DD4D34-77C0-46BA-880F-37335C6E03DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Currency Converter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3290909B-98BF-4E64-96DC-C92CD0602779</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>currency add</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching currency data...</string>
				<key>script</key>
				<string>python3 ./get_currencies.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List of matching currencies (keep typing currency name)</string>
				<key>title</key>
				<string>Add a new currency</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1DD4E5F4-32BF-4AAF-9A94-6F36C17741AF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python3 ./clear_cache.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>456B077E-0366-402D-BF9E-73231B08395D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>currency clear</string>
				<key>subtext</key>
				<string>Clear cached data</string>
				<key>text</key>
				<string>Clear cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D5F2D38-096E-409B-86CD-236AF579B3DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Currency Converter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>80360855-84C9-465E-9418-03E77DEF7E48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Currency Converter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DC3D45DA-4DB5-46A7-89C7-880133531627</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>currency reset</string>
				<key>subtext</key>
				<string>Reset currency converter workflow</string>
				<key>text</key>
				<string>Reset currency converter</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E09DA531-7669-474B-8B21-B21856E6205B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python3 ./reset_workflow.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B701CF96-A86A-47D1-BB1B-E85DD09194B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Commands available for this workflow:

1. currency add [currency]
Please use this command to add currencies you want to track.

2. cur [base cur] [base cur amount (optional)] [quote cur (optional)]

Case 1: cur CHF
--&gt; value of tracked currencies relative to CHF 1

Case 2: cur JPY 5000 
--&gt; value of tracked currencies relative to JPY 5000

Case 3: cur HKD 78 USD
--&gt; value of USD relative to HKD 78

Case 4: holding opt
--&gt; remove this tracked currency

3. currency clear
Clear cached data

4. currency reset
Reset this workflow</string>
	<key>uidata</key>
	<dict>
		<key>0C191BA0-C800-4E2B-AE27-BCB03FFCE1ED</key>
		<dict>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>0D5F2D38-096E-409B-86CD-236AF579B3DF</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>1DD4E5F4-32BF-4AAF-9A94-6F36C17741AF</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>3290909B-98BF-4E64-96DC-C92CD0602779</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>456B077E-0366-402D-BF9E-73231B08395D</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>4C473A25-C2C1-4773-B977-5A46C3270E39</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>6A9F4383-23B3-4C77-94EE-8463325DBC1B</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>6E17B99E-5E1F-4FEB-B342-A012AAB09E65</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>80360855-84C9-465E-9418-03E77DEF7E48</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>93DD4D34-77C0-46BA-880F-37335C6E03DC</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>AEC33078-8B48-4D99-B50D-481B769F666B</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>B701CF96-A86A-47D1-BB1B-E85DD09194B2</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>DC3D45DA-4DB5-46A7-89C7-880133531627</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>DE332B0E-A580-4347-89E0-10F6B2AC947D</key>
		<dict>
			<key>xpos</key>
			<integer>945</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>E09DA531-7669-474B-8B21-B21856E6205B</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>FFD4B1A5-0FBB-4999-AAC9-B28B2CBD57CC</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/hermanwpt/alfred-currency-workflow</string>
</dict>
</plist>
